@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #fdf8f5;
     --secondary-bg-color: #00303F ;
    /* --secondary-bg-color: #266150; */
    
  }

a,a:visited{
    text-decoration: none;
    color: inherit;
}




ul{
    list-style: none;
}

html{
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

body{
    min-height: 100vh;
    font-size: 1.6rem;
    position: relative;
    background-color: var(--main-bg-color);
    overflow-x: hidden;
}

main{
    height: 100%;
}

img{
    max-width: 100%;
}

.btn{
    cursor: pointer;
    padding: 1rem 2rem;
}

/* Takes off the idiot effect */

input:invalid {
    box-shadow: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Navbar */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Ubuntu', sans-serif;    padding: 2rem 4rem;
    background: var(--secondary-bg-color);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
    */
    color: #ffffff; 
}

.nav{
    display: flex;
}

.nav-link{
    padding: 0 5rem ;
    color: #ffffff;
    font-size: 1.9rem;
    letter-spacing: 0.5rem;
    font-weight: 700;
}

.item-container{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    min-width: 20rem;
    margin: 0 auto;
    max-width: 125rem;
}

.item-row{
    display: flex;
    max-width: 120rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.login{
    cursor: pointer;
}


/* Test card */

.item-card-test{
    margin: 2rem 2rem;
    max-width: 23rem;
    height: 35rem;
    border: 3px solid var(--secondary-bg-color);
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px;
}

.card-wrapper{
    padding: 2rem;
    text-transform: capitalize;
    color: var(--secondary-bg-color);

}

.test-name{
    font-size: 1.8rem;
    padding-top: 2rem;
    font-weight: bold;
}

.rating{
    padding: 0.5rem 0;
}
.price{
    margin-top: 4rem;
    margin-bottom: 0.5rem;
}

.secondary-info{
    font-size: 1rem;
    color: #505050;
    text-transform: lowercase;
    font-style: italic;
}

.full-price{
    font-size: 1.8rem;
    font-weight: bold;
    padding-right: 0.5rem;
}

.quantity{
    max-width: 7rem;
    height: 4.5rem;
    text-align: center;
    border: 2px solid var(--secondary-bg-color);;
    font-size: 1.8rem;
}

.quantity:hover,
.quantity:focus
{
    border: 4px solid var(--secondary-bg-color);
}

.btn-submit{
    border: 2px solid var(--secondary-bg-color);
    font-weight: bold;

    color: inherit;
}

.purchase{
    padding-bottom: 1rem;
}


/* Sidebar */

.sidebar{
    position: absolute;
    right: -350px;
    top: 0;
    padding: 0rem 2rem 2rem 2rem;
    min-height: 75vh;
    background-color: var(--secondary-bg-color);
    color: #fff;
    transform-origin: top;  
    transform-style: flat;  
    transition: 0.7s ease all;
    z-index: 2;
}

.basket-header{
    font-size: 3.2rem;
    text-transform: lowercase;
    border-bottom: 2px solid #fff;
    margin-bottom: 2rem;
}

.basket-item{
    background-color: #fff;
    padding:1.5rem;
    color: var(--secondary-bg-color);
    font-weight: 700;
    margin: 1.5rem 0 ;
    
}

.item-price{
    float: right;
    font-style: italic;
    line-height: normal;
}

.fas.fa-times{
    cursor: pointer;
    float: right;
    margin: 0 auto;
    font-size: 1.9rem;
    padding: 0 0 0 2rem;
}

.total-price{
    text-align: end;

}

.total-price-holder{
    font-size: 1.5rem;
    font-style: italic;
}

.time-bar{
    color: #fff;
    position: absolute;
    height: auto;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 4rem;
    margin: 0 auto;
    text-align: center;
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.8s ease all;
}

.btn-basket{
    border: 1px solid var(--secondary-bg-color);
    border-radius: 0.5rem;
    background-color: #fff;
    font-weight: 700;
}

.sidebar-buttons{
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    color: var(--secondary-bg-color);

}

/* Session msg display */

.session-msg{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1024;
    font-size: 3.14rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #272727a2;

}

.msg-container{
    background-color: var(--secondary-bg-color);
    width: 55rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    margin: 2rem;
    color: #fff;
    border-radius: 1rem;
}

.msg-container p{
    padding: 2rem;
}

.btn-session{
    border:2px solid #fff;
    max-width: 15rem;
    font-size: 2rem;
    border-radius: 3rem;
    padding: 1.25rem 2.5rem;
    margin: 2rem auto;
}

.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-150%);
    z-index: 1024;
    font-size: 4rem;
    color: var(--secondary-bg-color);
    cursor: pointer;
}

.fas.fa-chevron-right{
    right: 0;
}

.fas.fa-chevron-left{
    left: 0;
}

.fa-chevron-circle-right{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    font-size: 4rem;
    transform: translateX(-50%);
    cursor: pointer;
}

.fa-chevron-circle-left{
    position: fixed;
    color: var(--secondary-bg-color);
    bottom: 50%;
    right: 0;
    z-index: 1;
    font-size: 5rem;
    cursor: pointer;
    animation: leftRight 1.2s linear infinite alternate-reverse;
}

@keyframes leftRight {
    0%   {transform: translateX(30%);}
    100% {transform: translateX(15%);}
  }


.pages{
    display: flex;
    list-style: none;
    padding: 1rem;
}

.pages li{
    color: var(--secondary-bg-color);
    font-size: 2.5rem;
    padding: 0rem 2rem;
    cursor: pointer;
    font-weight: 900;
    transition: 0.8 ease all;
    padding-bottom: 5rem;
}

.pages li:hover{
    color:  #006786 ;
}

.pages li.active{
    color:  #0084ac ;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.container{
    min-width: 45rem;
    font-size: 2rem;
    padding: 4rem;
    background-color: #003444f3 ;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.labels{
    display: block;
}

.button-container{
    background-color: #fff;
}

input[type=text],
input[type=password]{
    margin: 0.5rem 0;
    padding: 0.8rem 0.5rem;
    width: 100%;
    font-size: 2rem;
}

input[type=text]:focus,
input[type=password]:focus{
    outline: 2px solid  #fff;
}

.input-group{
    padding: 0.7rem 0;
}

.btn-login{
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0.8rem;
    background-color: #005870bb;
    color: var(--secondary-bg-color);
    font-weight: 700;
    letter-spacing: 0.2rem;
}

.button-container{
    margin: 1.5rem 0rem 2rem 0rem;
}

.misc>p {
    padding: 0.5rem 0rem;
    cursor: pointer;
}

.btn-login{
    transition: 0.8s ease all;
}

.btn-login:hover{
    background-color: #0092bbbb;
}

.error-zone{
    text-align: center;
    color: #ffe600;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    height: 2.5rem;
}

.error-msg{
    transition: opacity 0.3s ease-in-out;
}