@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #fdf8f5;
     --secondary-bg-color: #00303F ;
    /* --secondary-bg-color: #266150; */
    
  }

a{
    text-decoration: none;
}


ul{
    list-style: none;
}

html{
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

body{
    min-height: 100vh;
    font-size: 1.6rem;
    position: relative;
    background-color: var(--main-bg-color);
    overflow-x: hidden;
}

img{
    max-width: 100%;
}

.btn{
    cursor: pointer;
    padding: 1rem 2rem;
}

/* Takes off the idiot effect */

input:invalid {
    box-shadow: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Navbar */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Ubuntu', sans-serif;    padding: 2rem 4rem;
    background: var(--secondary-bg-color);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
    */
    color: #ffffff; 
}

.nav{
    display: flex;
}

.nav-link{
    padding: 0 5rem ;
    color: #ffffff;
    font-size: 1.9rem;
    letter-spacing: 0.5rem;
    font-weight: 700;
}

.item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.item-row{
    display: flex;
    max-width: 120rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0rem 15rem;
}


/* Test card */

.item-card-test{
    margin: 2rem 2rem;
    max-width: 23rem;
    height: 35rem;
    border: 3px solid var(--secondary-bg-color);
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px;
}

.card-wrapper{
    padding: 2rem;
    text-transform: capitalize;
    color: var(--secondary-bg-color);

}

.test-name{
    font-size: 1.8rem;
    padding-top: 2rem;
    font-weight: bold;
}

.rating{
    padding: 0.5rem 0;
}
.price{
    margin-top: 4rem;
    margin-bottom: 0.5rem;
}

.secondary-info{
    font-size: 1rem;
    color: #505050;
    text-transform: lowercase;
    font-style: italic;
}

.full-price{
    font-size: 1.8rem;
    font-weight: bold;
    padding-right: 0.5rem;
}

.quantity{
    max-width: 7rem;
    height: 4.5rem;
    text-align: center;
    border: 2px solid var(--secondary-bg-color);;
    font-size: 1.8rem;
}

.quantity:hover,
.quantity:focus
{
    border: 4px solid var(--secondary-bg-color);
}

.btn-submit{
    border: 2px solid var(--secondary-bg-color);
    font-weight: bold;

    color: inherit;
}

.purchase{
    padding-bottom: 1rem;
}


/* Sidebar */

.sidebar{
    position: absolute;
    right: -350px;
    top: 0;
    margin: 5rem 0;
    padding: 0rem 2rem 2rem 2rem;
    min-height: 75vh;
    background-color: var(--secondary-bg-color);
    color: #fff;
    transition: 0.6s ease all;
}

.basket-header{
    font-size: 3.2rem;
    text-transform: lowercase;
    border-bottom: 2px solid #fff;
    margin-bottom: 2rem;
}

.basket-item{
    background-color: #fff;
    padding:1.5rem;
    color: var(--secondary-bg-color);
    font-weight: 700;
    margin: 1.5rem 0 ;
    
}

.item-price{
    float: right;
    font-style: italic;
    line-height: normal;
}

.fas.fa-times{
    cursor: pointer;
    float: right;
    margin: 0 auto;
    font-size: 1.9rem;
    padding: 0 0 0 2rem;
}

.total-price{
    float: right;
}

.total-price-holder{
    font-size: 1.5rem;
    font-style: italic
}

.time-bar{
    color: #fff;
    position: sticky;
    bottom: 0;
    left: 0;
    height: 4rem;
    margin: 0 auto;
    text-align: center;
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.8s ease all;
}

/* Session msg display */

.session-msg{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1024;
    font-size: 3.14rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #272727a2;
}

.msg-container{
    background-color: var(--secondary-bg-color);
    max-width: 45rem;
    min-width: 20rem;
    padding: 3rem;
    margin: 2rem;
    color: #fff;
}

.msg-container p{
    padding: 2rem;
}

.btn-session{
    border:2px solid #fff;
    font-size: 2rem;
    border-radius: 3rem;
    padding: 1.5rem 3rem;
    margin: 2rem;
}